{% include 'base.html' %}
{% block content1 %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
        <div>
            <h1 class="text-4xl text-gray-800">Offer Letter</h1>
        </div>
        <div>
            <a class="text-gray-500 hover:text-blue-500" href="{% url 'tasks:offer-letter' %}">Terms and Condition</a>
            <a class="text-gray-500 hover:text-blue-500" href="{% url 'tasks:preview-offer-letter' %}">Preview Offer Letter</a>
            <a class="text-gray-500 hover:text-blue-500" href="{% url 'tasks:download-offer-letter' %}">Download Offer Letter</a>
        </div>
        </div>
    </div>
</section>
{% block content %}{% endblock %}
{% endblock content1 %}